main.cards {
  display: flex;
}

.player-cards, .cpu-cards {
  flex: 1;
}

.card {
  border: 5px solid black;
  border-radius: 20px;
  width: 350px;
  margin: 20px auto;
  background: black;
}

.card .card-img img {
  max-width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
  
.card-img {
  text-align: center;
}

.player-name, .player-team {
  display: block;
}

.attribute {
  display: flex;
  padding: 5px;
  background: white;
  border-radius: 11px;
  border: 3px solid black;
}

.card-top {
  background: white;
  border-radius: 15px 15px 0 0;
}

.attribute-type {
  text-align: left;
  flex: 1;
}

.attribute-value {
  text-align: right;
  flex: 1;
}